@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/manuscribe-free');
/*   //font-family: 'Inter', sans-serif;*/
.back{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  
}

/*   background-image: url('./assets/back-1.png') ;*/
.back-right{

  width: 60%;
  height: 100%;
  position: relative
  ;
}
.back_name{

  font-family: 'Lora', serif;
  font-size: 3.5vw;
color: white;
margin: 5px;
font-style: italic;
font-weight: 100;




}
.back_down{
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 5px;
   margin-top: -5px;
  font-weight: 300;

}
.S_p{
  font-family: 'Lora', serif;
  font-size: 1vw;
  font-weight: 300;
  font-style: italic;
  color:white;
  margin: 0px;
}


.menu{
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 13px;
}
.t_div{
  position:absolute;
  top:20%; 
  left:50%;
  transform:translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;

  width: 30%;
  height: 70%;


 
}
.App{
overflow-x: hidden;
}
.img_rotate{
width:100%;
height: 100%;

animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;

}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}

.M_p{
  font-family: 'Inter', sans-serif;
 font-size: 0.9vw;
 font-weight: 400;
 font-style: italic;
 color:white;
 margin: 5px;
 position: relative;
}
.PP_p{
  font-family: 'Inter', sans-serif;
 font-size: 5vw;
 font-weight: lighter;
 color:white;
 margin-left: 2vw;


  
}


.MM{
  display: flex;
  flex-direction: column;
 width: 100%;
 z-index: 2;
 

}

.Ma_p{
  font-family: 'Lora', serif;
  font-size: 2vw;
  font-weight: 300;
  color: white;
  margin: 0;
}

.SS_p{
  font-family: 'Lora', serif;
  font-size: 1.5vw;
  font-weight: 300;
  color: white;
  margin: 0;
}
.SSS_p{
  font-family: 'Lora', serif;
  font-size: 1.8vw;
  font-weight: 300;
  color: white;
  margin: 0;
}
.about_div{
  border: 1px solid white;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;

}
.progress-area{
  width:6vw;
  height:1.5px;
  background:black;
  margin-left: 1vw;

 
 
}
.progress{

  width:100%;
  height:100%;
  
  background:white;
  animation:progress 3s linear;
  animation-fill-mode:forwards;
}
@keyframes progress{
  from{
    width:0;
  }to{
    width:100%;
  }
}

.Scroll_p{
  font-family: 'Lora', serif;
  font-size: 1vw;
  font-weight: 300;
  font-style: italic;
  color:white;
  margin: 0px;

  writing-mode: vertical-rl;
}
.Div_circle{
  width: 0.8vw;
  height: 0.8vw;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom:1vw

}
.canvas_box{

    width:100%;
    height:90%;


    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
 
}
.canvas_box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.scrollbar::-webkit-scrollbar {
  display: none;
}

.arrow_div{
  height:1.4vw ;
  width: 10%;
  position: relative;

}

.main_scroll{
  position: absolute;
  animation: scroll-down 2s ease-in-out  infinite;
  top:10%;
  visibility: hidden;
  
}

@keyframes scroll-down{
  0%{
    left:30%;
          opacity: 0;
  }
  30%{  
        left:20%;
          opacity: 1;
  }
  60%{
        left:60%;
          opacity: 1;
  }
  100%{
         left:60%;
          opacity: 0;
         
  }
}
